@{
    ViewData["Title"] = "Home Page";
}

<div class="ParentContainer">
    <div class="text-content">
        <h4 class="Greet">Hello Guys, </h4>
        <h1 class="FullName">I'm Kaye Darleene Gatmaitan</h1>
        <h2 class="School">
            <span class="curr">Currently studying</span> in Lyceum of Alabang.
        </h2>
        <h2 class="Course">
            <span class="taking">taking </span> Bachelor of Science in Information Technology (BSIT).
        </h2>

    </div>

    <div class="image">
        <img src="kaye.jpg" alt="My Picture" class="heart-image">
    </div>
</div>
