@{
    ViewData["Title"] = "My Schedule";
}

<div class="Sched">
    <h1 class="Mysched">MY SCHEDULE</h1>
    <table>
        <tr>
            <th rowspan="2">Section</th>
            <th rowspan="2">Code</th>
            <th rowspan="2">Course Title</th>
            <th rowspan="2">Units</th>
            <th colspan="2">Asynchronous</th>
            <th colspan="2">Face to Face Time</th>
            <th rowspan="2">Prof</th>
        </tr>
        <tr>
            <td>Day</td>
            <td>Time</td>
            <td>Day</td>
            <td>Time</td>
        </tr>
        <tr>
            <td>BSIT32E1</td>
            <td>106-ELEC323</td>
            <td>IT Elective 3</td>
            <td>3</td>
            <td>Thursday</td>
            <td>1:00pm-2:00pm</td>
            <td>Saturday</td>
            <td>7:00am-10:00am</td>
            <td>Mr. Niño Alamo</td>
        </tr>
    </table>
</div> 